* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: rgb(27, 24, 24);
}

nav {
  background-color: #000;
  box-shadow: #00000069;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #161616;
  color: rgb(201, 43, 43);
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  background-color: #00000073;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 -10px #000;
  display: none;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  text-transform: uppercase;
}

.menubtn {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menubtn {
    display: block;
  }

.home h1 {
    width: 90%;
}

.car {
    width: 90%;
}
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    
    .home h1 {
        width: 90%;
    }

  .car {
    width: 100%;
  }
}

.home {
  background: #b40000;
  height: 60dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h1 {
      position: absolute;
      z-index: 0;
      font-size: 30vw;
      color: rgba(255, 255, 255, 0.253);
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.5vw;
      white-space: nowrap;
      top: 15%;
    }
}

.car {
    position: absolute;
    z-index: 1;
    width: 70%;
    max-width: 700px;
    height: auto;
    top: 25%;
}

.home2 {
    background: #b40000;
    height: 70dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    
    h2 {
        font-size: 5vw;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        text-align: center;
    }
    
    p {
        
    }
}