* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: rgb(27, 24, 24);
}

nav {
  background-color: #000;
  box-shadow: #00000069;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

nav a:hover {
  background-color: #161616;
  color: rgb(201, 43, 43);
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1000;
  background-color: #00000073;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 -10px #000;
  display: none;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  text-transform: uppercase;
}

.menubtn {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menubtn {
    display: block;
  }

.home h1 {
    width: 90%;
}

.car {
    width: 90%;
}
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    
    .home h1 {
        width: 90%;
    }

  .car {
    width: 100%;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}
@media (max-width: 600px) {
  section {
    padding: 120px 30px;
  }
}

.hero {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.hero video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero a.heroBtn {
  padding: 15px 35px;
  background: #ffffff62;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  transition: all .5s;
  text-decoration: none;
  top: 80%;
  font-size: 20px;
}

.hero a.heroBtn:hover {
  background: #ffffffb7;
  color: #272727;
}

#contact {
  height: 10dvh;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;

  .clogo {
    width: 7dvh;
    height: auto;
    background: transparent;
  }

  .socmed {
    background: transparent;
    display: flex;
    gap: 0.5rem;
    padding-right: 1rem;
    a {
      background: transparent;
      img {
        background: transparent;
        width: 4.5dvh;
      }
    }
  }
  .links {
    display: flex;
    gap: 5rem;
    background: transparent;

    a {
      background: transparent;
      p {
        background: transparent;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}